.details-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.details-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.details-content {
    font-size: 18px;
}

.details-label {
    font-weight: bold;
    margin-right: 5px;
}

.details-label1 {
    font-weight: bold;
    margin-right: 5px;
    color:maroon;
}


.loading {
    font-style: italic;
    color: #999;
}
