.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input[type=text] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}
.btn-icon:hover {
  color: #0056b3;
}
.delete-btn:hover,
.edit-link:hover,
.view-link:hover {
  color: red;
}